@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mulish:wght@300&family=Noto+Sans:wght@100&family=Open+Sans:ital,wght@1,300&family=Playfair+Display:wght@500&family=Raleway:wght@300&display=swap');

h1{
    font-family:'Noto Sans', sans-serif;
}

form{
    width: 450px;
    height: auto;
    border-width: 2px;
    border-style:inset;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 2px;
}


.form-control{
    padding-top: 2px;
    padding-bottom: 30px;
    margin: 5px 0px;
    
}